%article#development-container.c-sign-preview
  %div.c-sign-layout{ class: "c-sign-layout--#{@view_state.page_orientation[:current]}" }
    %section.c-content-row__head
      .o-content-unit__1-1.c-content-header
        .c-content-header__title
          %h1
            = @view_state.bathing_water.name
        .c-content-header__classification
          %img{ @view_state.classification_image }/
        .c-content-header__monitoring
          %p
            = @view_state.monitoring_statement

    %section.c-content-row__about
      .o-content-unit__1-2.o-content-unit__box
        %h2
          Water quality at
          = @view_state.bathing_water.name
        - @view_state.bathing_water.pollution_source_statements.each do |stmt|
          %p
            = stmt

      .o-content-unit__2-2.o-content-unit__box
        %h2 Pollution Risk Forecast
        %p This bathing water is subject to short term pollution. The Environment Agency makes daily pollution risk forecasts based on rainfall patterns. A pollution risk warning is issued if heavy rainfall occurs, enabling bathers to avoid periods when bathing water quality may be reduced. This can last between one and three days. In 2017 warnings were issued at this bathing water on XX days.

    %section.c-content-row__info
      .o-content-unit__1-3.o-content-unit__box
        %h2 More information
        %p
          The full details for this bathing water, its catchment, information on all potential pollution sources and how they are managed can be viewed on the Environment Agency website:
          %a{ href: 'http://bit.ly/2FsWuYe' }
            http://bit.ly/2FsWuYe
        %img.qrcode{:src => "http://environment.data.gov.uk/bwq/profiles/images/qr/ukk4200-24000-150x150.png"}/

      .o-content-unit__2-3.o-content-unit__box
        %h2 Historical classifications
        %span
          2017 classification
          %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
          good
        %span
          2016 classification
          %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
          good
        %span
          2015 classification
          %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
          good
        %span
          2014 classification
          %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
          good

      .o-content-unit__3-3.o-content-unit__box
        %h2 Sampling Point Location
        %img.classification{:src => "map.png"}/

    %section.c-content-row__foot
      .o-content-unit__1-2
        %img{:src => "tc-logo-white.png"}/
        %p
          This beach is managed by Torbay Council
        %p
          Phone: 01803 207975
        %p
          Email: beaches@torbay.gov.uk
      .o-content-unit__2-2
        %img{:src => "https://environment.data.gov.uk/bwq/profiles/images/logo/banner_logo-en.png", :srcset => "https://environment.data.gov.uk/bwq/profiles/images/logo/ea-logo-master-dark-plain.svg"}/
