%article#development-container.c-sign-preview
  %div.c-sign-layout{ class: "c-sign-layout--#{@view_state.page_orientation[:current]}" }
    %section.c-content-row__head
      .o-content-unit__1-1.c-content-header
        .c-content-header__title
          %h1
            = @view_state.bathing_water.name
        .c-content-header__classification
          - unless @view_state.classifications.omit_classification_image?
            %img{ @view_state.classifications.image_full }/
        - unless @view_state.bathing_water.closed?
          %div{ class: "c-content-header__monitoring#{ @view_state.classifications.omit_classification_image? ? '-only' : '' }" }
            %p
              = @view_state.monitoring_statement

    %section.c-content-row__about
      - pollution_sources_cls = @view_state.show_prf? ? 'o-content-unit__1-2' : 'o-content-unit__1-1c'
      .o-content-unit__box{ class: pollution_sources_cls }
        %h2
          Water quality at
          = @view_state.bathing_water.name
        - @view_state.bathing_water.pollution_source_statements.each do |stmt|
          %p
            = stmt

      - if @view_state.show_prf?
        .o-content-unit__2-2.o-content-unit__box
          %h2 Short-term pollution
          %p
            = @view_state.bathing_water.prf_statement

    %section.c-content-row__info
      - web_info_cls = @view_state.show_map? ? 'o-content-unit__1-2' : 'o-content-unit__1-1c'

      .o-content-unit__box.c-content-unit__web-links{ class: web_info_cls }
        - if @view_state.show_history? && !@view_state.bathing_water.classification_history&.length.zero?
          %h2 Previous annual water-quality classifications
          %ul.c-content-unit__compliance-history
            - @view_state.bathing_water.classification_history.each do |classification|
              %li
                - if classification.respond_to?(:uri)
                  = classification.year
                  - image_description = @view_state.classifications.image_compact(classification.complianceClassification&.uri)
                  = image_tag(image_description[:src], alt: image_description[:alt])
                  = classification.complianceClassification.name
                - else
                  = classification[:message]

        %h2 For more information
        .c-content-info__qr-code
          %img{ alt: '2d barcode for this bathing water', src: @view_state.qr_code_url }/
        %p
          The full details for this bathing water, its catchment, information
          on all potential pollution sources and how they are managed can be
          viewed on the Environment Agency website:
          %br
          %a{ href: 'https://environment.data.gov.uk/bwq/profiles' }
            https://environment.data.gov.uk/bwq/profiles

      - if @view_state.show_map?
        .o-content-unit__box{ class: 'o-content-unit__2-2' }
          %h2 Sampling Point Location
          .c-content-info__map#map-data{ data: { bw: @view_state.bathing_water.to_json }}
            #map

    %section.c-content-row__foot
      - foot_col_1_class = "o-content-unit__1-#{@view_state.show_logo? ? 3 : 2}"
      - foot_col_2_class = "o-content-unit__2-#{@view_state.show_logo? ? 3 : 2}"

      .c-content-foot__bwmgr-contact{ class: foot_col_1_class }
        .u-centered-block
          - bw_mgr = @view_state.bw_manager
          - unless bw_mgr[:name].empty? && bw_mgr[:phone].empty? && bw_mgr[:email].empty?
            %ul
              %li
                For more information, contact:
                %br
                  %strong
                    = bw_mgr[:name]
              - unless bw_mgr[:phone].empty?
                %li
                  Phone
                  = bw_mgr[:phone]
              - unless bw_mgr[:email].empty?
                %li
                  Email
                  = bw_mgr[:email]

      .c-content-foot__bwmgr-logo{ class: foot_col_1_class }
        .u-centered-block
          - if @view_state.show_bwmgr_logo?
            %img{:src => @view_state.bwmgr_logo_url}/

      - if @view_state.show_logo?
        .c-content-foot__ea-logo.o-content-unit__3-3
          .u-centered-block
            = image_tag("ea-logo_354cmyk.#{@view_state.final? ? 'svg' : 'png'}", alt: 'EA logo')
