.o-workflow-unit.o-workflow-unit__landing
  .o-grid-row
    .o-grid-column__two-thirds

      %h2.heading-medium
        Add a logo for the bathing water manager
      %p.lede
        Add a visual indicator, such as a logo, signifying the organisation that
        manages this bathing water. You can upload a new logo, re-use an existing image,
        or skip this step.

      = render partial: 'warning_flash'

      - existing_logo = @view_state.logo_manager.logo_object
      - name = @view_state.params[:'bwmgr-name']

      %ul
        %li
          - if existing_logo
            %p
              - query_params = @view_state.with_query_params('bwmgr-logo': existing_logo.key, step: nil)
              = link_to("Use the already uploaded logo for '#{name}'", query_params)
              %img{ src: existing_logo.public_url, alt: "Logo for #{name}" }
          - else
            %p
              %em No logo has been uploaded for '#{name}' yet

        %li
          - query_params = @view_state.with_query_params('bwmgr-logo': 'none', step: nil)
          = link_to("Skip this step: I don't want to show a logo for my organisation", query_params)

      %h3.heading-small Upload a new logo
      = form_tag(root_path, method: 'post', enforce_utf8: false, multipart: true) do
        - hidden = @view_state.hidden_params(%i[bwmgr-logo step])
        = render partial: 'keep_existing_choices', locals: { hidden_params: hidden }

        .form-group
          %p
            %label{ for: 'upload-file' }
              Upload a new image file (<code>.png</code>, <code>.jpg</code>, <code>.gif</code>):
              %br
            %input#upload-file{ name: 'logo-file', type: 'file', multiple: false }

        .form-group
          %p
            = submit_tag('Upload logo', { class: 'button' })
