.o-workflow-unit.o-workflow-unit__landing
  .o-grid-row
    .o-grid-column__two-thirds

      %h2.heading-medium
        Bathing water sign options
      %p.lede
        You can select which elements of the sign you would like to include.

      = render partial: 'warning_flash'

      = form_tag(root_path, method: 'get', enforce_utf8: false) do
        - hidden = @view_state.hidden_params(%i[show-prf show-hist show-map show-logo step search])
        = render partial: 'keep_existing_choices', locals: { hidden_params: hidden }

        = render partial: 'yes_no_option', locals: { option_heading: 'Show the history of previous annual classifications?', option_var: 'show-hist', option_default: 'yes' }
        = render partial: 'yes_no_option', locals: { option_heading: 'Show a map of the sampling point location?', option_var: 'show-map', option_default: 'yes' }
        = render partial: 'yes_no_option', locals: { option_heading: 'Include the Environment Agency logo?', option_var: 'show-logo', option_default: 'yes' }

        .form-group
          %p
            = submit_tag('Next step', { class: 'button' })
