- page_orientation = @view_state.page_orientation
.o-page-container
  .o-grid-row
    .o-grid-column__two-thirds
      %h1.heading-large
        Preview and download

      %p
        See a preview of your sign below. You can also:
      %ul
        %li
          change from #{page_orientation[:current]} orientation
          %i.fa{ class: page_orientation[:current_icon] }
          to
          = link_to(@view_state.with_query_params(page_orientation: page_orientation[:alt])) do
            #{page_orientation[:alt]} orientation
            %i.fa{ class: page_orientation[:alt_icon] }

        %li
          = link_to('select a different bathing water', @view_state.with_query_params(step: :search))
        %li
          = link_to('choose different sign options', @view_state.with_query_params(step: :opts))
        %li
          = link_to('change the bathing water manager details', @view_state.with_query_params(step: :bwmgr))
        %li
          = link_to('change the bathing water manager logo', @view_state.with_query_params(step: :bwmgr_logo))

      %p
        - a4_path = @view_state.with_query_params(page_size: :a4)
        = link_to('download pdf (A4 page)', download_path(a4_path), { class: 'button' })

        -# - a3_path = @view_state.with_query_params(page_size: :a3)
        -# = link_to('download pdf (A3 page)', download_path(a3_path), { class: 'button' })
