<% content_for(:page_title) do %>
  <%= t(:global_proposition_header) %>
<% end %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <script>
    document.querySelector('html').classList.add('js');
  </script>
<% end %>

<% content_for :header_class, 'with-proposition' %>
<% content_for(:proposition_header) do %>
  <div class='header-proposition'>
    <div class='content'>
      <span id='proposition-name'><%= t(:global_proposition_header) %></span>
    </div>
  </div>
<% end %>

<%-# LAST: render main GDS template -%>
<%= render template: 'layouts/govuk_template_bwq' %>
